<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.sleipnir">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sleipnir"
        android:usesCleartextTraffic="true">


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="MAPS_API_KEY}" />

        <activity
            android:name=".UpdatePastRouteActivity"
            android:exported="false"
            android:label="@string/title_activity_update_past_route" />
        <activity
            android:name=".ShowParticipantsActivity"
            android:exported="false" />
        <activity
            android:name=".ShowDetailedHorse"
            android:exported="false" />
        <activity
            android:name=".AddHorseActivity"
            android:exported="false" />
        <activity
            android:name=".ShowChat"
            android:exported="false" />
        <activity
            android:name=".DetailedRegisterActivity"
            android:exported="false"
            android:label="@string/title_activity_detailed_register" />
        <activity
            android:name=".JoinRouteActivity"
            android:exported="true"
            android:label="@string/title_activity_join_route">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.algo.com"
                    android:pathPrefix="/share-route"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.algo.com"
                    android:pathPrefix="/share-route"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FillRouteInfoActivity"
            android:exported="false" />
        <activity
            android:name=".DrawerActivity"
            android:exported="false"
            android:label="@string/title_activity_drawer"
            android:theme="@style/Theme.Sleipnir.NoActionBar" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>